<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="App2.App2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" />
	<application android:allowBackup="true" android:label="Character Counter"></application>
</manifest>